{% from "helpers.jinja" import safe_docstring %}

{{ safe_docstring(package_description) }}
from importlib.metadata import version

from .client import AuthenticatedClient, Client

__version__ = version(__package__)
__all__ = (
    "AuthenticatedClient",
    "Client",
)
